/****** general css tag******/
h1 {
  color: #FFFFFF;
  font-size: 100;
}

body {
  background-color: #F6E7D8;
  font-family: "Gill Sans", sans-serif;
}

/******Class css tag*******/
.unorderlist {
  color: #FD5D5D;
}

.orderlist {
  color: #B33030;
}
