/****** general css tag******/
#title{
  background-color: #F68989;
}

#form {
  padding: 7% 15%;
text-align: center;
color: #F68989;
}

h1 {
  font: "Montserrat-black";
  font-size: 3rem;
  line-height: 1.5;
}

h2{
  font: "Montserrat-bold";
  font-size: 1.5rem;
  margin: 0 0 20px 0;
  line-height: 1.5;


}
h3{
  font: "Montserrat";
  font-size: 1rem;
  margin: 0 0 auto 0;
  line-height: 1.5;


}

p{
  color: #FFBBBB;
}
i {
  color: #FFBBBB;
}
/******Class css tag*******/

.container-fluid {
  padding: 3% 15%;
}
.navbar-brand {
  font-family: "Ubuntu", sans-serif;
}

.box{
  padding: 20px;
}
.feature-box{
  width: 90%;
  margin: 20px;
padding: 20px;

}

.work-life-image{
  float: right;
  width: 30%;
  border-radius: 100%;
}

.journey-image{
  float: left;
  width: 30%;
  margin: 0 20px 0 0;
}
.box-two{
  padding: 20px;
}
.projects-image{
  width: 90%;
height: 50%;
padding-bottom: 20px;
}
.stamp {
  text-align: center;
  color: #fff;
  font: "Montserrat-black";
  font-size: 3rem;
}
.form-image{
  position: relative;
  width: 200px;
  height: 200px;
  left: 25px;
}
