/****** Section 4: general css tag******/
h1 {
  color: #F68989;
  font-size: 50;

}

h2{
  color: #F68989;
  font-size: 50;

}

body {
  background-color: #F6E7D8;
  font-family: "Gill Sans", sans-serif;
}

/******Class css tag*******/
.unorderlist {
  color: #FD5D5D;
}

.orderlist {
  color: #B33030;
}

/******ID css tag not using much*******/
#tableone {
  background-color: #FF9F45;
}

#tableone:hover {
  background-color: #B6FFCE;
}

/*************Margin border and padding******/
.top-container {
border: solid 10px;
padding: 20px;
background-color: #C85C5C;
width: 200px;
height: 200px;
}

.middle-container {
  border: solid 20px;
  margin: 0 0 0 260px;
background-color: #95CD41;
width: 200px;
height: 200px;

}

.bottom-container {
  border: solid 10px;
  margin: 0 0 0 500px;
background-color: #006778;
width: 200px;
height: 200px;

}
/***span as the specific words of a line then put in the middle then specific type in it-> create a class to modify it****/

.section {
text-decoration: underline;

}
/********Display has Block, Inline, Inline Block, None*****/
h4 {
background-color: #85C88A;
width: 70px;
display: inline-block;

}
.Block-1 {
  display: none;
}
span{
background-color: #FF8AAE;

}

/**************moving the picture by using Display and position*****/
/********Relative position******/
.top-container-2 {
background-color: #C85C5C;
width: 200px;
height: 200px;
position: relative;
left: 600px;
}

.middle-container-2 {
background-color: #95CD41;
width: 200px;
height: 200px;
position: relative;
bottom: 200px;
left: 400px;

}

.bottom-container-2 {
background-color: #006778;
width: 200px;
height: 200px;
position: relative;
left: 200px;
bottom: 400px;

}

/***********Absolute position*****/
.parent{
background: #FFAFAF;
width: 600px;
height: 600px;
position: relative;
left: 600px;

}
.chillies{
width: 200px;
position: absolute;
left: 300px;

}
