/****** general css tag******/
h1 {
  color: #F68989;
  font-size: 100;

}

body {
  background-color: #F6E7D8;
  font-family: "Gill Sans", sans-serif;
}

/******Class css tag*******/
.unorderlist {
  color: #FD5D5D;
}

.orderlist {
  color: #B33030;
}

/******ID css tag not using much*******/
#tableone {
  background-color: #FF9F45;
}

#tableone:hover {
  background-color: #B6FFCE;
}

/*************Margin border and padding******/
.top-container {
border: solid 10px;
padding: 20px;
background-color: #C85C5C;
width: 200px;
height: 200px;
}

.middle-container {
  border: solid 20px;
  margin: 0 0 0 260px;
background-color: #B2EA7027;
width: 200px;
height: 200px;

}

.bottom-container {
  border: solid 10px;
  margin: 0 0 0 500px;
background-color: #006778;
width: 200px;
height: 200px;


}
